*{margin: 0;padding: 0;box-sizing: border-box;}
/*html,body{height: 100%}*/
body{}
body {font-family: Arial;background: black;background-image: url(../img/background/banner.jpg);background-size: cover;background-repeat: no-repeat;}
/*<editor-fold desc="header" defaultstate="collapsed">*/
header.main {color: white;padding: 20px 0 20px 0;float: left;width: 80%;}
nav ul li { list-style: none;float: left;background: black;}
/*</editor-fold>*/
/*<editor-fold desc="footer" defaultstate="collapsed">*/
footer.main {height: 60px;background: gray;color: white;position: absolute;width: 100%;bottom: 0;}
/*</editor-fold>*/