*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body
{
	background:black;
	background-image: url(banner.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
header
{
	
	color:white;
	padding:20px 0 20px 0;
	float:left;
	width:80%;
}
footer
{
	height:60px;
	background:gray;
	color:white;
	position:absolute;
	width:100%;
	bottom:0;
	
}
nav ul li
{
	list-style:none;
	float: left;
	background:black;
}
nav ul li a
{
	text-decoration:none;
	display: block;
	float:left;
	padding: 5px 35px;
	color: purple;
	background:black;
	font-size:20px;
	font-family:armenian;
}