*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body
{
	background:black;
	background-image: url(barber.jpg);
}
header
{
	background:black;
	color:white;
	padding:20px 0 20px 0;
	float:left;
	width:100%;
}
footer
{
	height:60px;
	background:gray;
	color:white;
	position:absolute;
	width:100%;
	bottom:0;
	
}
nav ul li
{
	list-style:none;
	float: left;
	background:black;
}
nav ul li a
{
	text-decoration:none;
	display: block;
	float:left;
	padding: 5px 35px;
	color: white;
	background:black;
}